.homepageContentWrapper {
  text-align: center;
  padding: 2rem;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-body);
  border-radius: 8px;
}

.mainSearchWrap {
}

.mainTile {
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 1.125rem;
}

.mainSearchWrap p {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.searchInput {
  padding: 0.75rem 1rem;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
